Workflows/Currency Converter.json
{
  "name": "Currency Converter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -192
      ],
      "id": "387d09b5-ca62-4b25-8fd6-40957f74db63",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "function",
              "value": "CURRENCY_EXCHANGE_RATE"
            },
            {
              "name": "from_currency",
              "value": "USD"
            },
            {
              "name": "to_currency",
              "value": "ZAR"
            },
            {
              "name": "apikey",
              "value": "DCRR3BKXVKV7FUCQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -192
      ],
      "id": "72868b01-a77c-458d-976d-417d29cb601b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// ======================================================\n// n8n v2 – USD → ZAR FX Tracker (Alpha Vantage + Sheets)\n// ======================================================\n\nconst rows = $items(\"Get row(s) in sheet\");\n\nlet previousRate = null;\nif (rows.length > 0) {\n  previousRate = Number(rows[rows.length - 1].json[\"Current Rate\"]);\n}\n\nconst fx = $items(\"HTTP Request\")[0]\n  .json[\"Realtime Currency Exchange Rate\"];\n\nconst currentRate = Number(fx[\"5. Exchange Rate\"]);\n\nlet change = 0;\nlet percentChange = 0;\nlet direction = \"→\";\n\nif (previousRate !== null && !isNaN(previousRate)) {\n  change = Number((currentRate - previousRate).toFixed(4));\n  percentChange = Number((change / previousRate).toFixed(6)); // ✅ FIX\n\n  if (change > 0) direction = \"↑\";\n  else if (change < 0) direction = \"↓\";\n}\n\nreturn [{\n  json: {\n    Date: fx[\"6. Last Refreshed\"],\n    From: fx[\"1. From_Currency Code\"],\n    To: fx[\"3. To_Currency Code\"],\n    \"Previous Rate\": previousRate,\n    \"Current Rate\": currentRate,\n    Change: change,\n    Direction: direction,\n    \"Rate%\": percentChange\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -192
      ],
      "id": "cdd251d5-09c8-4c10-9fb6-db136dc0b268",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw",
          "mode": "list",
          "cachedResultName": "Currency USD to ZAR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From ": "={{ $json.From }}",
            "To": "={{ $json.To }}",
            "Current Rate": "={{ $json['Current Rate'] }}",
            "Change": "={{ $json.Change }}",
            "Rate%": "={{ $json['Rate%'] }}",
            "Direction": "={{ $json.Direction }}",
            "Date": "={{ $json.Date }}",
            "Previous Rate": "={{ $json['Previous Rate'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From ",
              "displayName": "From ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous Rate",
              "displayName": "Previous Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Current Rate",
              "displayName": "Current Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Change",
              "displayName": "Change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Direction",
              "displayName": "Direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rate%",
              "displayName": "Rate%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -192
      ],
      "id": "9f21d12d-6fe2-47e5-97cc-fa6f3889143b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gjFaTuXdOMVCMQfz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "215395f3-1941-4093-8dcf-2211df29e717",
              "leftValue": "={{ $json.Change }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -192
      ],
      "id": "a38023b4-7650-47fe-8f65-08df27b6deea",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ian@oldskool.co.za",
        "subject": "=USD → ZAR rate changed ({{ $json.Date }})",
        "emailType": "text",
        "message": "=Current Rate: {{ $json['Current Rate'] }}\n\nChange: {{ $('Append row in sheet').item.json.Change }}\n\nThis has been logged to Google Sheets",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        -192
      ],
      "id": "41a51773-6e6e-499a-ba0d-b37be3c5181b",
      "name": "Send a message",
      "webhookId": "f94c7d04-06c3-49a3-be47-1b0cf9b9b2ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "i6loJuDMUI0aJn5F",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw",
          "mode": "list",
          "cachedResultName": "Currency USD to ZAR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -192
      ],
      "id": "659402b8-7e79-476d-92f6-518f3feb2e01",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gjFaTuXdOMVCMQfz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f201d4d9-a4da-4405-8538-3b495c23872a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cc022c7883e242651c99928a239e6fdb65950951ab30664250c1eeefc45294b"
  },
  "id": "5GljCTVUwBWDuECiPAn3q",
  "tags": []
}