Workflows/Multi-Currency convertor Python.json
{
  "name": "Multi-Currency convertor Python",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -64
      ],
      "id": "eb5810ab-d6e7-4077-af40-afa42a8fe8d0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw",
          "mode": "list",
          "cachedResultName": "Currency USD to ZAR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9376829,
          "mode": "list",
          "cachedResultName": "Python",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LYqiBLLf1fiBQ_dkxw6U_JTnIfcR_51Yi_0cp1j8Bw/edit#gid=9376829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From ": "USD",
            "To": "ZAR",
            "Current Rate": "={{ $json.current_rate }}",
            "Change": "={{ $json.change }}",
            "Rate%": "={{ $json.percent_change }}",
            "Direction": "={{ $json.direction }}",
            "Date": "={{ $json.timestamp }}",
            "Previous Rate": "={{ $json.previous_rate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From ",
              "displayName": "From ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous Rate",
              "displayName": "Previous Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Current Rate",
              "displayName": "Current Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Change",
              "displayName": "Change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Direction",
              "displayName": "Direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rate%",
              "displayName": "Rate%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -64
      ],
      "id": "5056401f-6e8c-44d9-93e6-356e8f2306d5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gjFaTuXdOMVCMQfz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "215395f3-1941-4093-8dcf-2211df29e717",
              "leftValue": "={{ $json.Change }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -64
      ],
      "id": "2029ea07-10ae-43c1-aa2f-cd27868128ed",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ian@oldskool.co.za",
        "subject": "=USD → ZAR rate changed ({{ $json.Date }})",
        "emailType": "text",
        "message": "=Previous Rate: {{ $json['Previous Rate'] }}\nCurrent Rate: {{ $json['Current Rate'] }}\n\nChange: {{ $('Append row in sheet').item.json.Change }}\n\nThis has been logged to Google Sheets",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -64
      ],
      "id": "c9280ddb-a284-4392-bbe3-5012e2aa16e5",
      "name": "Send a message",
      "webhookId": "f94c7d04-06c3-49a3-be47-1b0cf9b9b2ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "i6loJuDMUI0aJn5F",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-fx:5000/fx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pair\": \"USDZAR\",\n  \"current_rate\": {{ $json[\"Realtime Currency Exchange Rate\"][\"5. Exchange Rate\"] }},\n  \"timestamp\": \"{{ $json[\"Realtime Currency Exchange Rate\"][\"6. Last Refreshed\"] }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -64
      ],
      "id": "6636f51b-05f5-4860-a6f0-613a1f6b2c45",
      "name": "FX – Calculate Delta (Python)"
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "function",
              "value": "CURRENCY_EXCHANGE_RATE"
            },
            {
              "name": "from_currency",
              "value": "USD"
            },
            {
              "name": "to_currency",
              "value": "ZAR"
            },
            {
              "name": "apikey",
              "value": "DCRR3BKXVKV7FUCQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -64
      ],
      "id": "979a527b-07cd-4084-9bfd-f3211c885126",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FX – Calculate Delta (Python)": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "FX – Calculate Delta (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "98c797ce-43a3-4a50-b297-06dae30ccb5c",
  "meta": {
    "instanceId": "7cc022c7883e242651c99928a239e6fdb65950951ab30664250c1eeefc45294b"
  },
  "id": "Gg-JLLN2InObNFKMEwJak",
  "tags": []
}