Workflows/Webhooks Tut.json
{
  "name": "Webhooks Tut",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -16
      ],
      "id": "17058827-c093-4507-994e-f8a856f00e8b",
      "name": "Webhook",
      "webhookId": "cc96b602-73e7-44c8-9459-21c687a5e164"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c1424d13-aa65-4c89-a653-7eeddfd75d06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "237f1faf-33c9-4e9e-a1e1-808bf33075e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I9fdheTt0Ds7nlEN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "1b794ee6-340b-45eb-8445-48f6ff5bdad4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "IiHr25dzzqiSwPt8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "522bbceb-affc-4fb6-845f-74f360157b23",
              "name": "sessionId",
              "value": "=sessionId = {{ $json.headers['x-session-id'] || $json.headers['x-forwarded-for'] || $json.ip }}",
              "type": "string"
            },
            {
              "id": "94ac12bc-87a0-4442-8a33-ce9eea1079a8",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -16
      ],
      "id": "7808a46d-35ac-4924-b90d-d4e42c4f66e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"replay\": {{ $json.output_text || $json.text || $json.message }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "enableStreaming": false
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "658b89f6-6ebe-49f0-9cfe-2cff803c6f90",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "sessionId": "sessionId = 196.41.10.182"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9e93bd96-0c71-4e91-8151-caaaba323f11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cc022c7883e242651c99928a239e6fdb65950951ab30664250c1eeefc45294b"
  },
  "id": "TRnadRFngN9ux_kvXHF4V",
  "tags": []
}